{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('create_item') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.unit_type.label }}
      </td>
      <td>
        {{ form.unit_type}}
    </td>
        <ul>
          {% for error in form.unit_type.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td>
        {{ form.category.label }}
      </td>
      <td>
        {{ form.category}}
    </td>
        <ul>
          {% for error in form.category.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td colspan="3">
        <input class="button" type="submit" value="Lisää tuote"/>
      </td>
    </tr>
</form>
{% endblock %}
