{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <td><a href="{{ url_for('create_list') }}"><h5>Luo ostoslista</h5></a></td>
    </tr>
    <tr>
      <th>Ostoslista</th>
      <th>Completed</th>
      <th>Päivitetty</th>
      <th></th>
    </tr>
    {% for list in lists %}
    <tr>
      <td><a href="{{ url_for('purchases_index', list_id=list.id, add_mode=0) }}">{{ list.name }}</a></td>
      <td><a href="{{ url_for('lists_set_done', list_id=list.id) }}">{{ list.done }}</a></td>
      <td>{{ list.date_modified}} </td>
      <td>
        <form method="GET" action="{{ url_for('lists_update_x', list_id=list.id) }}">
          <input class="update-button" type="submit" value="Päivitä"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_list', list_id=list.id) }}">
          <input class="delete-button" type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
