{% extends "layout.html" %}

{% block body %}
<p>listan nimi {{list.name}} ja id {{list.id }}</p>
<form method="POST" action="{{ url_for('lists_update_x', list_id = list.id ) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>


    </td>
    </tr>
    <tr>
      <td colspan="3">
        <input class="button" type="submit" value="Tallenna"/>
      </td>
    </tr>
</form>
{% endblock %}
