
  <table>
    {% for cat in categories %}
    <th class="category" colspan="2">{{ cat }}</th>
      <tr>
      {% for purchase in purchases %}
      {% if purchase.item.category.name == cat %}
      <tr>
          {% if purchase.collected %}
            <td class="collected">
          {% else %}
            <td class="not-collected">
          {% endif %}
             {{ purchase.item.name }}
            </td>
          {% if purchase.collected %}
            <td class="collected-amount">
          {% else %}
            <td>
          {% endif %}
              {{ purchase.amount}}  {{ purchase.item.unit_type }}
        </td>
        <td>
          {% if add_mode == '1' %}
            <form method="POST" action="{{ url_for('delete_purchase', list_id=purchase.list_id, purchase_id=purchase.id, add_mode=add_mode) }}">
              <input class="delete-button" type="submit" value="Poista"/>
            </form>
          {% else %}
            <form method="POST" action="{{ url_for('collect_purchase', list_id=purchase.list_id, purchase_id=purchase.id, add_mode=add_mode) }}">
              {% if not purchase.collected %}
                <input class="button" type="submit" value="Löytyi!"/>
              {% else %}
                <input class="button-undo" type="submit" value="Eiku"/>
              {% endif %}
            </form>
          {% endif %}
        </td>

      </tr>
      {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}

  </table>
