{% extends "layout.html" %}

{% block body %}
  <table>
      <td><a href="{{ url_for('create_category') }}"><h5>Lisää kategoria</h5></a></td>
    <tr>
      <th>Tuotekategoria</th>
      <th>Tuotteiden määrä</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.item_count}}</td>
      {% if admin %}
      <td>
        <form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}">
          <input class="delete-button" type="submit" value="Poista"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
